#blogBtn {
  display: none;
}

#info {
  background-color: aqua;
}

#ratings {
  background-color: pink;
}

#blog {
  background-color: blueviolet;
}

/* #comment1,
#comment2,
#comment3 {
  display: none;
} */
